:root {
  --color-dark: #22272e;
  --color-light: #fff;
  --color-blue: #539bf5;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--color-dark);
  color: var(--color-light);
  font-family: sans-serif;
  line-height: 1.5;
}
