figure:not(:last-child) {
  border-bottom: 1px solid var(--color-light);
  margin: 0 0 2rem;
}

blockquote {
  display: flex;
  margin: 0;
}

blockquote p {
  padding: 1rem;
  background: #eee;
  color: var(--color-dark);
  border-radius: 4px;
}

blockquote p::before {
  content: '\201C';
}

blockquote p::after {
  content: '\201D';
}
